flows.json
[
    {
        "id": "d3c4c932fa0ad433",
        "type": "tab",
        "label": "Command/Control",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a033ecf7.19ef2",
        "type": "tab",
        "label": "Client State",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c9fafa.7dd6a5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "demo-na.mqtttest.com",
        "port": "8883",
        "tls": "2d748829.2503d8",
        "clientid": "$(CLIENTID)",
        "autoConnect": true,
        "usetls": true,
        "compatmode": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "demo/security/clientstate/connected",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "$(CLIENTID)",
        "birthMsg": {},
        "closeTopic": "demo/security/clientstate/closed",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "$(CLIENTID)",
        "closeMsg": {},
        "willTopic": "demo/security/clientstate/lastwill",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "$(CLIENTID)",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "2d748829.2503d8",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "c7809b33.ca4548",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "6d919544.7af97c",
        "type": "ui_group",
        "name": "Security Masters Demo",
        "tab": "c7809b33.ca4548",
        "order": 1,
        "disp": true,
        "width": "20",
        "collapse": false,
        "className": ""
    },
    {
        "id": "cb978cdcbb341010",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "fde17ba4e8f07cec",
        "type": "gauth",
        "name": "node-red@fluted-sentry-260301.iam.gserviceaccount.com"
    },
    {
        "id": "791e80b3.11014",
        "type": "ui_group",
        "name": "Latency",
        "tab": "",
        "order": 1,
        "disp": false,
        "width": "18",
        "collapse": false
    },
    {
        "id": "a4089a2e.e45d68",
        "type": "tls-config",
        "name": "demo-na.mqtttest.com",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "demo-na.mqtttest.com",
        "verifyservercert": true
    },
    {
        "id": "8b729069e4fae062",
        "type": "mqtt in",
        "z": "d3c4c932fa0ad433",
        "name": "Listen on Control Topic ",
        "topic": "demo/security/control",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 160,
        "wires": [
            [
                "5872a3052b7c12d6"
            ]
        ]
    },
    {
        "id": "5872a3052b7c12d6",
        "type": "switch",
        "z": "d3c4c932fa0ad433",
        "name": "Check if clientid is self or all ",
        "property": "payload.clientid",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "all",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "CLIENTID",
                "vt": "env"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 560,
        "y": 160,
        "wires": [
            [
                "94b449353b48ae65"
            ],
            [
                "94b449353b48ae65"
            ],
            []
        ]
    },
    {
        "id": "358a9b79e77033f8",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "Otherwise Ignore",
        "info": "",
        "x": 360,
        "y": 220,
        "wires": []
    },
    {
        "id": "0e138ecc479f8138",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "Process",
        "info": "",
        "x": 380,
        "y": 120,
        "wires": []
    },
    {
        "id": "94b449353b48ae65",
        "type": "switch",
        "z": "d3c4c932fa0ad433",
        "name": "Check Command Type",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "exec",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "api",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 560,
        "y": 280,
        "wires": [
            [
                "9bae47b5adc2d938"
            ],
            [
                "3cb93eed8b48e5ec"
            ]
        ]
    },
    {
        "id": "ef006acee64ad842",
        "type": "http request",
        "z": "d3c4c932fa0ad433",
        "name": "API requests",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "body",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 70,
        "y": 560,
        "wires": [
            [
                "93cac3716a0dea8f"
            ]
        ]
    },
    {
        "id": "3c85f295848674b8",
        "type": "exec",
        "z": "d3c4c932fa0ad433",
        "command": "",
        "addpay": "exec",
        "append": "",
        "useSpawn": "true",
        "timer": "120",
        "winHide": false,
        "oldrc": false,
        "name": "exec commands",
        "x": 530,
        "y": 560,
        "wires": [
            [
                "7fa473161970a11b",
                "93cac3716a0dea8f"
            ],
            [
                "7fa473161970a11b",
                "93cac3716a0dea8f"
            ],
            [
                "7fa473161970a11b"
            ]
        ]
    },
    {
        "id": "8d9439e40cfdfa9c",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "node-red API requests",
        "info": "",
        "x": 100,
        "y": 420,
        "wires": []
    },
    {
        "id": "80cb0f6bb7e13a3b",
        "type": "comment",
        "z": "d3c4c932fa0ad433",
        "name": "exec commands",
        "info": "",
        "x": 400,
        "y": 440,
        "wires": []
    },
    {
        "id": "59b30b22a270af21",
        "type": "mqtt out",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "topic": "demo/security/control/response",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 310,
        "y": 780,
        "wires": []
    },
    {
        "id": "5b13ee680a0ab3a6",
        "type": "change",
        "z": "d3c4c932fa0ad433",
        "name": "Set Client ID on Response",
        "rules": [
            {
                "t": "set",
                "p": "payload.clientid",
                "pt": "msg",
                "to": "CLIENTID",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "payload.command",
                "pt": "msg",
                "to": "exec",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.url",
                "pt": "msg",
                "to": "url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.method",
                "pt": "msg",
                "to": "method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 720,
        "wires": [
            [
                "59b30b22a270af21",
                "70f62d6557b93965"
            ]
        ]
    },
    {
        "id": "70f62d6557b93965",
        "type": "debug",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 710,
        "y": 720,
        "wires": []
    },
    {
        "id": "7fa473161970a11b",
        "type": "debug",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 560,
        "wires": []
    },
    {
        "id": "78d7a80a5c27e572",
        "type": "inject",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"clientid\":\"all\",\"type\":\"exec\",\"exec\":\"curl http://127.0.0.1:1880/webserver\"}",
        "payloadType": "json",
        "x": 100,
        "y": 60,
        "wires": [
            [
                "5872a3052b7c12d6"
            ]
        ]
    },
    {
        "id": "9bae47b5adc2d938",
        "type": "change",
        "z": "d3c4c932fa0ad433",
        "name": "Normallze payload for input into exec node ",
        "rules": [
            {
                "t": "set",
                "p": "exec",
                "pt": "msg",
                "to": "payload.command",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 500,
        "wires": [
            [
                "3c85f295848674b8"
            ]
        ]
    },
    {
        "id": "3cb93eed8b48e5ec",
        "type": "change",
        "z": "d3c4c932fa0ad433",
        "name": "normalize payload for input into http request node",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "payload.url",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "method",
                "pt": "msg",
                "to": "payload.method",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 190,
        "y": 500,
        "wires": [
            [
                "ef006acee64ad842"
            ]
        ]
    },
    {
        "id": "93cac3716a0dea8f",
        "type": "template",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{\"result\":\"{{payload}}\"}",
        "output": "json",
        "x": 460,
        "y": 660,
        "wires": [
            [
                "5b13ee680a0ab3a6"
            ]
        ]
    },
    {
        "id": "d51a6ce2141f1324",
        "type": "inject",
        "z": "d3c4c932fa0ad433",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"clientid\":\"all\",\"type\":\"api\",\"url\":\"http://127.0.0.1:1880/flows\",\"method\":\"GET\"}",
        "payloadType": "json",
        "x": 250,
        "y": 40,
        "wires": [
            [
                "5872a3052b7c12d6"
            ]
        ]
    },
    {
        "id": "f8731cbdc7647a09",
        "type": "mqtt in",
        "z": "a033ecf7.19ef2",
        "name": "",
        "topic": "demo/security/service/clientreport",
        "qos": "2",
        "datatype": "json",
        "broker": "3c9fafa.7dd6a5",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 360,
        "y": 440,
        "wires": [
            [
                "ef1b9f8b17b25fef"
            ]
        ]
    },
    {
        "id": "ef1b9f8b17b25fef",
        "type": "change",
        "z": "a033ecf7.19ef2",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "CLIENTID",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 660,
        "y": 460,
        "wires": [
            [
                "9ec996f76bea83f4",
                "c4ada282c1a8abec"
            ]
        ]
    },
    {
        "id": "9ec996f76bea83f4",
        "type": "mqtt out",
        "z": "a033ecf7.19ef2",
        "name": "",
        "topic": "demo/security/clientstate/connected",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "3c9fafa.7dd6a5",
        "x": 830,
        "y": 540,
        "wires": []
    },
    {
        "id": "c4ada282c1a8abec",
        "type": "debug",
        "z": "a033ecf7.19ef2",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 380,
        "wires": []
    }
]
